body {
            font-family: Arial, sans-serif;
            background: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        header {
            background: linear-gradient(135deg, #FFC0CB, #FF69B4);
            color: white;
            text-align: center;
            padding: 40px 20px;
        }

        .container {
            max-width: 600px;
            background: white;
            margin: 40px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        }

        label {
            display: block;
            margin-top: 15px;
            font-weight: bold;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-top: 5px;
        }

        .checkbox {
            margin-top: 0px; 
             list-style: none;
             display: flex; 
             /* margin: 0px; */
             max-width: 100px;
              gap: 10px;  
        }


        button {
            margin-top: 20px;
            padding: 12px 20px;
            background: #d1006c;
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background: #b0005a;
        }